body {

   /*margin-top: 100px;  Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	background-image: url("/static/img/noise.png");
    
    
}



table{
	color:silver;
    }

#img1{
	background: url("/static/img/dredger 1 scale bw.jpg") no-repeat;
	display:inline-block; 
	height: 300px;
	width: 400px;

}

#img1:hover {
    display:inline-block; 
    height: 300px;
	width: 400px;
	background: url("/static/img/dredger 1 scale.jpg") ;
}

#img2{
	background: url("/static/img/dredger 2 scale bw.jpg") ; 
	height: 300px;
	width: 400px;
	display:inline-block; 
	
   
}

#img2:hover {
    background: url("/static/img/dredger 2 scale.jpg"); 
    height: 300px;
	width: 400px;
	display:inline-block; 
}
