{% extends "bootstrap/base.html" %}

{% block title %}Login{% endblock %}

{% block styles %}
<link rel="stylesheet"
      href="{{url_for('.static', filename='bg.css')}}">
{{super()}}

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block navbar %}

    
    <nav class="navbar navbar-inverse navbar-fixed-top" >
      <div class="container">
      
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="/home">Dreadger</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            
            <li><a href="/home">Home</a></li>
            <li><a href="/filter">Filter</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                
                <a class="navbar-brand" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                
                </li>
            </ul>
        </div>
        
      </div>
    </nav>

 
{% endblock %}

{% block content %}
<div class="container">
    <br/><br/><br/>
    
    
    


    {% block page_content %}{% endblock %}
</div>
{% endblock %}


