{% extends "bootstrap/base.html" %}

{% block title %}Login{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='bg.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block navbar %}

    <div class="navbar navbar-inverse" role="navigation" id="navbar">
        <div class="container">
           
            
            <div class="navbar-right">
                
                <a id="navbarText1" class="navbar-brand" href="/logout">Sign Out</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}


