{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Filter{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Filter</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
<div class="page-header">
  <h2>Logged Values</h2>
  <div class="container">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
        		<th width="117" height="20">Date / Time</th>
        		<th width="117" height="20">Level</th>
        	</tr>
        </thead>
        <tbody>
    	{%if results != None %}
          {% for result in results %}
          <tr>
            <th width="117" height="20">{{ result.mTime }}</th>
            <th width="117" height="20">{{ result.level }}</th>
          </tr>
          {% endfor %}
    	{% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}