
{% extends "base.html" %}
{% block title %}Filter{% endblock %}

{% block scripts %}

 {{super()}}
 <script type="text/javascript">
		$(document).ready(function(){
			var number=10;
			var name= 'dummyNoUse';
			$.post("{{ url_for('static', filename='ajax/name2.php') }}",{name:name},function(data){
			$('span#sNo').text(data.sNo);
			$('span#mTime').text(data.mTime);
			$('span#level').text(data.level);
			},'json');
			function redirect(num){
				number=num;
				countdown();
			}

			function countdown(){
				
				
				setTimeout(countdown,1000);
				number--;
				$('#box').html("Redirecting in "+number+" seconds.");
				if(number<=0)
				{
					var name= 'dummyNoUse';
					$.post("{{ url_for('static', filename='ajax/name2.php') }}",{name:name},function(data){
					$('span#sNo').text(data.sNo);
					$('span#mTime').text(data.mTime);
					$('span#level').text(data.level);
					},'json');
					number=3;
				}
			}
		redirect(3);

		});

	</script>
	
	<script type="text/javascript">
		$(function(){
   		$('.toggler').click(function(){
		       $('th.hide_level').toggle(this.checked);
		       $('td.hide_level').toggle(this.checked);
		   });
	})

	</script>
{% endblock scripts %}



{% block page_content %}


<div class="page-header">
    <h2 style="color:silver;">Latest</h2>
</div>
 
<!--Starts here$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
<div class="container" style="color:silver;">
<input type="checkbox" name="myCB" value="A" class="toggler" checked="checked" /> show/hide above
		<br/>
</div>	
	<div class="container">
		<table class="table table-bordered">
	        <thead>
	          <tr>
	            <th>#</th>
	            <th>Time</th>
	            <th class="hide_level">Level</th>
	          </tr>
	        </thead>
	        <tbody>
		        <tr>
		        	<td><span id="sNo"></div></td>
		        	<td><span id="mTime"></span></td>
		        	<td class="hide_level"><span id="level"></div></td>
				</tr>
			</tbody>
		</table>
	</div>        

	<!-- ############################## -->


<div class="container">
  <h2 class="page-header" style="color:silver;">Flowchart</h2>
  	
  	
  	<h1 class="visible-xs" >
  	<!--Code for extra small screen starts-->
	  	<div class="container">
		  	
			
					      
			      	<div class="row">
			      		<div class="col-xs-3 text-center col-xs-offset-3 other ">
				        	<span style="color:black;" class="btn btn-info btn-xs">Storage Tank<br/> <span id="level"></span> 
				        	</span> 
					    </div> 
					</div>
			      	
			      	<div class="row">
			      		<div class="col-xs-3 text-center col-xs-offset-3 other ">
				        	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>  
					    </div> 
					</div>

			      	
		       		
		       		<div class="row">
		       			
				        <div class="col-xs-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-left"></span></p>
				        </div>

				        <div class="col-xs-3">
				          	<span style="color:black;"class="btn btn-info btn-xs">Service Tank<br/><span id="level"></span></span>
				        </div>

				        <div class="col-xs-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-right"></span></p>
				        </div>
				        
		       		</div>

		       		<div class="row">
		      		    			        
				        <div class="col-xs-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>
				        </div>
				        <div class="col-xs-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-up"></span></p>
				        </div>

				        <div class="col-xs-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>
				        </div>
		       		</div>
		       		
		       		<div class="row">
		       			<div class="col-xs-3 ">
				          	<span style="color:black;"class="btn btn-info btn-xs">Flowmeter IN 3<br/><span id="level"></span></span>
				        </div>
		       			<div class="col-xs-3 col-xs-offset-3">
				          	<span style="color:black;"class="btn btn-info btn-xs">Flowmeter IN 2<br/><span id="level"></span></span>
				        </div>
		       		</div>

		       		<div class="row">
		      		    			        
				        <div class="col-xs-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>
				        </div>
				        <div class="col-xs-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-up"></span></p>
				        </div>

				        <div class="col-xs-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>
				        </div>
		       		</div>

		       		<div class="row">
		      		    			        
				        <div class="col-xs-3 text-center other ">
				          	<span style="color:black;"class="btn btn-info btn-xs">Engine 1<br/><span id="level"></span></span>
				        </div>
				        
				        <div class="col-xs-3 text-center col-xs-offset-3 other ">
				          	<span style="color:black;"class="btn btn-info btn-xs">Engine 2<br/><span id="level"></span></span>
				        </div>
		       		</div>

		       		<div class="row">
		      		    			        
				        <div class="col-xs-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>
				        </div>
				        <div class="col-xs-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-up"></span></p>
				        </div>

				        <div class="col-xs-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>
				        </div>
		       		</div>

		       		<div class="row">
		      		    			        
				        <div class="col-xs-3 text-center other ">
				          	<span style="color:black;"class="btn btn-info btn-xs">Flowmeter Out 1<br/><span id="level"></span></span>
				        </div>

				        
				        <div class="col-xs-3 text-center col-xs-offset-3 other ">
				          	<span style="color:black;"class="btn btn-info btn-xs">Flowmeter Out 2<br/><span id="level"></span></span>
				        </div>
		       		</div>

		       		
		       		<div class="row">
		       			

		       			<div class="col-xs-3 text-center other">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-right"></span></p>
				        </div>
				        <div class="col-xs-3 text-center other">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-up"></span></p>
				        </div>
		       			<div class="col-xs-3 text-center other">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-left"></span></p>
				        </div>
				        
		       		</div>
			    
		
			
		</div>
  	<!--Code for extra small screen starts-->
  	</h1>

	<h1 class="hidden-xs" >
	<!--Code for other screen size starts-->
	  	<div class="container">
		  	
			
					      
			      	<div class="row">
			      		<div class="col-sm-2 text-center col-sm-offset-5 other ">
				        	<span style="color:black;" class="btn btn-info btn-lg">Storage Tank<br/> <span id="level"></span> 
				        	</span> 
					    </div> 
					</div>
			      	
			      	<div class="row">
			      		<div class="col-sm-2 text-center col-sm-offset-5 other ">
				        	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>  
					    </div> 
					</div>

			      	
		       		
		       			       		
		       		
		       		<div class="row">
		       			<div class="col-sm-2 ">
				          	<span style="color:black;"class="btn btn-info btn-lg">Flowmeter IN 1<br/><span id="level"></span></span>
				        </div>

				        <div class="col-sm-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-left"></span></p>
				        </div>

				        <div class="col-sm-2">
				          	<span style="color:black;"class="btn btn-info btn-lg">Service Tank<br/><span id="level"></span></span>
				        </div>

				        <div class="col-sm-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-right"></span></p>
				        </div>

		       			<div class="col-sm-2 ">
				          	<span style="color:black;"class="btn btn-info btn-lg">Flowmeter IN 2<br/><span id="level"></span></span>
				        </div>
		       		</div>

		       		<div class="row">
		      		    			        
				        <div class="col-sm-2 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>
				        </div>
				        <div class="col-sm-2 col-sm-offset-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-up"></span></p>
				        </div>

				        <div class="col-sm-2 col-sm-offset-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>
				        </div>
		       		</div>

		       		<div class="row">
		      		    			        
				        <div class="col-sm-2 text-center other ">
				          	<span style="color:black;"class="btn btn-info btn-lg">Engine 1<br/><span id="level"></span></span>
				        </div>
				        
				        <div class="col-sm-2 text-center col-sm-offset-8 other ">
				          	<span style="color:black;"class="btn btn-info btn-lg">Engine 2<br/><span id="level"></span></span>
				        </div>
		       		</div>

		       		<div class="row">
		      		    			        
				        <div class="col-sm-2 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>
				        </div>
				        <div class="col-sm-2 col-sm-offset-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-up"></span></p>
				        </div>

				        <div class="col-sm-2 col-sm-offset-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>
				        </div>
		       		</div>

		       		<div class="row">
		      		    			        
				        <div class="col-sm-2 text-center other ">
				          	<span style="color:black;"class="btn btn-info btn-lg">Flowmeter Out 1<br/><span id="level"></span></span>
				        </div>

				        
				        <div class="col-sm-2 text-center col-sm-offset-8 other ">
				          	<span style="color:black;"class="btn btn-info btn-lg">Flowmeter Out 2<br/><span id="level"></span></span>
				        </div>
		       		</div>

		       		
		       		<div class="row">
		       			

		       			<div class="col-sm-2 text-center other">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-right"></span></p>
				        </div>
				        <div class="col-sm-2 col-sm-offset-3 text-center other">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-up"></span></p>
				        </div>
		       			<div class="col-sm-2 col-sm-offset-3 text-center other">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-left"></span></p>
				        </div>
				        
		       		</div>
			    
		
			
		</div>
		<!--Code for other screen size ends-->

	</h1>


 <!-- ###################### --> 

<!--Ends here $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
{% endblock %}
