
{% extends "base.html" %}
{% block title %}Report{% endblock %}
<!--Filter page starts here!-->


{% block page_content %}
<div class="page-header">
    <h2 style="color:silver;">Latest</h2>
</div>
                    
<!--
<iframe allowtransparency="true" style="background: #FFFFFF;" src="{{url_for('.static', filename='table.php')}}" width="100%" height="98"></iframe> 
 !-->  
<div class="page-header">
    <h2 style="color:silver;">Filter</h2>
</div>

<div class="container">
<b style="color:silver;"><h3>From</h3></b> 
  <form class="form-inline" role="form">
    <div class="row" style="color:silver;">
     <!--
      <div class="col-xs-2 col-sm-1">
          <b style="color:silver;">From:</b> 
      </div>
      !-->
      <div class="col-xs-5 col-md-2">
        <div class="form-group">

          <label for="fromDate">Date:</label>
          <input type="date" class="form-control" id="fromDate" name="fromDate" style="background-color: #E6E6E6;" value="{{ fromDate }}" > 
        </div>
      </div>
        
      <div class="col-xs-2 col-md-1">
        <div class="form-group">
          <label for="sel1">Hour:</label>
          <select name="fromHour" class="form-control" id="sel1" style="background-color: #E6E6E6;">
            {% for i in range(0,24) %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
        
      <div class="col-xs-2 col-sm-1">
          <div class="form-group">
            <label for="sel1">Min:</label>
            <select name="fromMin" class="form-control" id="sel1" style="background-color: #E6E6E6;">
              {% for i in range(0,60) %}
              <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
            </select>
          </div>
      </div>
    </div>
  
<b style="color:silver;"><h3>To</h3></b>
  
    <div class="row" style="color:silver;">
     
      <!--     
      <div class="col-xs-2 col-sm-1">
          <b style="color:silver;">To:</b> 
      </div>
      !-->
      <div class="col-xs-5 col-md-2">
        <div class="form-group">

          <label for="toDate">Date:</label>
          <input type="date" class="form-control" id="toDate" name="toDate" style="background-color: #E6E6E6;" value="{{ toDate }}" > 
        </div>
      </div>
        
      <div class="col-xs-2 col-md-1">
        <div class="form-group">
          <label for="sel1">Hour:</label>
          <select name="toHour" class="form-control" id="sel1" style="background-color: #E6E6E6;">
            {% for i in range(0,24) %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
        
      <div class="col-xs-2 col-sm-1">
          <div class="form-group">
            <label for="sel1">Min:</label>
            <select name="toMin" class="form-control" id="sel1" style="background-color: #E6E6E6;">
              {% for i in range(0,60) %}
              <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
            </select>
          </div>
      </div>
    </div>
    <br/>
    <div class="col-md-1">
      <button type="submit" formmethod="post" style="background-color: #E6E6E6;" class="btn btn-default" >Submit</button>
    </div>
  </form>

</div>


<div class="table-responsive" >

{% if  results %}
 

<div class="page-header">
  <h3 style="color:silver;">Diesel Level</h3>
</div>
<br/>
  
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th >Sl No</th>
            <th >Date / Time</th>
            <th >Level</th>
          </tr>
        </thead>
        <tbody>
      {%if results != None %}
          {% for result in results.items %}
          <tr>
            <th >{{ result.id }}</th>
            <th >{{ result.mTime }}</th>
            <th >{{ result.level }}</th>
          </tr>
          {% endfor %}
      {% endif %}
        </tbody>
      </table>
      <br/>
      
      <ul class="pager">
    	{% if results.has_prev %}
	        <li><a href="{{ url_for('home', page=results.prev_num,fromTime=fromTime,toTime=toTime) }}">&lt;&lt; Newer results</a></li>
      	{% else %}
	        &lt;&lt; Newer results
      	{% endif %}  
	      
      	{% if results.has_next %}
	        <li><a href="{{ url_for('home', page=results.next_num,fromTime=fromTime,toTime=toTime) }}">Older results &gt;&gt;</a></li>
      	{% else %}
	        Older results &gt;&gt;{% endif %}
	      
      </ul>
</div>
</div>
{% else %}
<br/><br/>


<p style="color:silver;"><b>The table is empty</b></p>

{%endif%}
  
  <!-- Debug code!-->
  <!--
  <br/>
  page=results.prev_num: {{results.prev_num}}
  <br/>
  page=results.next_num: {{results.next_num}}
  <br/>
  <br/>
  fromTime:{{fromTime}}
  <br/>
  toTime:{{toTime}}
  <br/>
  page:{{page}}
  <br/>
	-->
{% endblock %}
