
{% extends "base.html" %}
{% block title %}Report{% endblock %}

{% block indexPage%} <a id="navbarText2"class="navbar-brand" href="{{ url_for('filterData') }}">Filter</a>{%endblock%}


{% block page_content %}
<div class="page-header">
    <h2 style="color:silver;">Latest</h2>
    <form action="" align="right">


    <select name="filter">
    <option value="2h">2 Hours</option>
    <option value="1h">1 Hour</option>
    <option value="30m">30 Mins</option>
    </select>
    &emsp;<input type="submit">
    </form>
</div>

<br/>

                    
<iframe allowtransparency="true" style="background: #FFFFFF;" src="{{url_for('.static', filename='table.php')}}" width="100%" height="98"></iframe>


{% endblock %}
