{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='bg.css')}}">
{% endblock %}


{% block page_content %}

  {% if current_user.is_authenticated()%}
    <meta http-equiv="refresh" content="0; url={{ url_for('home', page=1) }}" />
  {% else %}
            
                  
    <div class="page-header">
        <h1 style="color:silver;">Login</h1>
    </div>

    <div class="container">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="control-label col-sm-2" for="userName" style="color:silver;">User Name:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="userName" placeholder="Enter User Name"  style="background-color: #E6E6E6;" name="username" value="{{ request.form.username }}" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd" style="color:silver;">Password:</label>
          <div class="col-sm-4">          
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" style="background-color: #E6E6E6;" name="password" value="{{ request.form.password }}" required>
          </div>
        </div>
        <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label style="color:silver;"><input name="checkbox" type="checkbox"> Remember me</label>
            </div>
          </div>
        </div>
        <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <button id="loginButton" formmethod="post"  type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
      </form>
    </div>
  {% endif %}

{% endblock %}
 




