
{% extends "base.html" %}
{% block title %}Report{% endblock %}
{% block styles %}
{{super()}}

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
{% endblock %}

{% block scripts %}

 {{super()}}
  <script type="text/javascript">
    $(document).on('change', 'table thead input', function() {
    var checked = $(this).is(":checked");

    var index = $(this).parent().index();
        $('table tbody tr').each(function() {
            if(checked) {
                $(this).find("td").eq(index).show();   
            } else {
                $(this).find("td").eq(index).hide();   
            }
        });
    });
  </script>

  <!--Pagination s--><script src="{{url_for('.static', filename='/js/bootstrap-paginator.js')}}"></script> <!--Pagination e-->

  <!--Pagination s-->
  {% if results!=None%}
  <script type='text/javascript'>                         
        var options = {
            currentPage: {{results.page}},
            totalPages: {{results.pages}},
            numberOfPages: 10,
            pageUrl: function(type, page, current){

                return "/pagination/"+page+"?fromTime={{fromTime}}&toTime={{toTime}}";

            }

        }

        $('#example').bootstrapPaginator(options);
    </script>
{% endif %}     
    <!--Pagination e-->
{% endblock scripts %}

{% block page_content %}
<div id="example"></div>

<div class="container">
{% for message in get_flashed_messages() %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
      {% endfor %}

  {% if results==None or results.page==1%} 
  
      <div class="page-header">
        <h2 style="color:silver;">Pagination</h2>
      </div>
    
      

      {% if results.pages == 0 %}
          <div class="col-xs-12 col-xs-offset-2 col-sm-offset-3">
          <h4><span class="label label-default">Query returned 0 results</span></h4>
        </div>
      
      {% endif %}
</div>

<!-- Debug code

<h1 class="visible-xs">xs</h1>
<h1 class="visible-sm">sm</h1>
<h1 class="visible-md">md</h1>
<h1 class="visible-lg">lg</h1>
and results.pages > 1 
-->
<div class="container">


  <b style="color:silver;"><h3>From</h3></b> 


  <div class="container">

    <form class="form" role="form">
      <div class="row" >
      
        <div class="col-xs-12 col-sm-2">
          <div class="form-group">
          <label for="fromDate">Date:</label>
              
              <input type="date" class="form-control" id="fromDate" name="fromDate" value="{{ fromDate }}" required placeholder="yyyy-mm-dd"> 
          </div>
        </div>
          
        <div class="col-xs-4 col-sm-1">
          <div class="form-group">
            <label for="sel1">Hour:</label>
            <select name="fromHour" class="form-control" id="sel1" >
              {% for i in range(0,24) %}
              <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
          
        <div class="col-xs-4 col-sm-1">
            <div class="form-group">
              <label for="sel1">Min:</label>
              <select name="fromMin" class="form-control" id="sel1" >
                {% for i in range(0,60) %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
              </select>
            </div>
        </div>
      </div>
    </div>  

  <b style="color:silver;"><h3>To</h3></b> 

  <div class="container">
   
      <div class="row" >
      
        <div class="col-xs-12 col-sm-2">
            <div class="form-group">

              <label for="toDate">Date:</label>
              <input type="date" class="form-control" id="toDate" name="toDate"  value="{{ toDate }}" required placeholder="yyyy-mm-dd"> 
            </div>
        </div>
          
        <div class="col-xs-4 col-sm-1">
            <div class="form-group">
              <label for="sel1">Hour:</label>
              <select name="toHour" class="form-control" id="sel1" >
                {% for i in range(0,24) %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
              </select>
            </div>
        </div>
          
        <div class="col-xs-4 col-sm-1">
            <div class="form-group">
              <label for="sel1">Min:</label>
              <select name="toMin" class="form-control" id="sel1" >
                {% for i in range(0,60) %}
                <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
              </select>
            </div>
        </div>
      </div>
  </div>  


      <br/>
      <div class="container">
        <div class="row">
          <div class="col-md-2">
              <button type="submit" formmethod="post"  class="btn btn-default" >Submit</button>
          </div>
      </div>
    </div>
    </form>
  </div>
  <br/><br/>


{%endif%}

{% if  results != None and results.pages !=0 %}
 

  <div class="page-header">
    <h2 style="color:silver;">Data</h2>
  </div>
  <br/>

  
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>
                 <input type="checkbox" checked="checked" />#
             </td>
             <td>
                 <input type="checkbox" checked="checked" />Time
             </td>
             <td>
                 <input type="checkbox" checked="checked" />storage tank level
             </td>
             <td>
                 <input type="checkbox" checked="checked" />storage tank cap
             </td>
             <td>
                 <input type="checkbox" checked="checked" />service tank level
             </td>
             <td>
                 <input type="checkbox" checked="checked" />service tank cap
             </td>
             <td>
                 <input type="checkbox" checked="checked" />flowmeter 1 in
             </td>
             <td>
                 <input type="checkbox" checked="checked" />flowmeter 1 out
             </td>
             <td>
                 <input type="checkbox" checked="checked" />engine 1 status
             </td>
             <td>
                 <input type="checkbox" checked="checked" />flowmeter 2 in
             </td>
             <td>
                 <input type="checkbox" checked="checked" />flowmeter 2 out
             </td>
             <td>
                 <input type="checkbox" checked="checked" />engine 2 status
             </td>
          </tr>

        </thead>
        <tbody>
          <tr>
             <td>#</td>
             <td>Time</td>
             <td>storage tank level</td>
             <td>storage tank cap</td>
             <td>service tank level</td>
             <td>service tank cap</td>
             <td>flowmeter 1 in</td>
             <td>flowmeter 1 out</td>
             <td>engine 1 status</td>
             <td>flowmeter 2 in</td>
             <td>flowmeter 2 out</td>
             <td>engine 2 status</td>
          </tr>

      {%if results != None%}
          {% set cntr = 1 %}
          
          {% for result in results.items %}
          
          
          
          <tr>
            <td >{{ (results.page-1)* results.per_page +cntr }}</td>
            <td >{{ result.time }}</td>
            <td >{{ result.storage_tank_level}}</td>
            <td >{{ result.storage_tank_cap}}</td>
            <td >{{ result.service_tank_level}}</td>
            <td >{{ result.service_tank_cap}}</td>
            <td >{{ result.flowmeter_1_in}}</td>
            <td >{{ result.flowmeter_1_out}}</td>
            <td >{{ result.engine_1_status}}</td>
            <td >{{ result.flowmeter_2_in}}</td>
            <td >{{ result.flowmeter_2_out}}</td>
            <td >{{ result.engine_2_status}}</td>

          </tr>
          {% set cntr = cntr+1 %}
          {% endfor %}
      {% endif %}
        </tbody>
      </table>
      <br/>
    </div>
  
  <nav>

    <ul class="pagination">
      
      {% if results.has_prev %}
      <li>
        <a href="{{ url_for('pagination', page=results.prev_num,fromTime=fromTime,toTime=toTime) }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
        </li>
      {% else %}
      <li class="disabled">
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}

      {% set cntr = 1 %}
      
      {% for cntr in range(1,results.pages+1) %}
        {% if cntr== results.page%}
        	
        	<li class="active"><a href="{{ url_for('pagination', page=cntr,fromTime=fromTime,toTime=toTime) }}">{{cntr}}</a></li>

        {% else %}
        
        	<li><a href="{{ url_for('pagination', page=cntr,fromTime=fromTime,toTime=toTime) }}">{{cntr}}</a></li>
        
        {% endif %}
        
        {% set cntr = cntr+1 %}
      
      {% endfor %}
      {% if results.has_next %}
        <li>
          <a href="{{ url_for('pagination', page=results.next_num,fromTime=fromTime,toTime=toTime) }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% else %}
      <li class="disabled">
        <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            </a>
      </li>
      {% endif %}
    </ul>
  </nav>


{%endif%}
  

{% endblock %}
