
{% extends "base.html" %}
{% block title %}Select{% endblock %}





{% block page_content %}
<div class="container">
<div class="page-header">
<h2 style="color:silver;">Please select your Dredger</h2>
</div>
</div>


	<div  class="container center">
	<div class="row">
	  	<div class="col-xs-3">
	    <span  class="btn btn-info btn-sm">
	    	<a   style="text-decoration: none;color:rgb(0, 0, 122);display:inline-block;" href="/dredger1/home">DREDGER 1<br/><img  id="img1"   class="img-responsive"/></a>
	    </span>
	    </div>

   		<div class="col-xs-3 col-xs-offset-3">
	    <span  class="btn btn-info btn-sm">
	    <a style="text-decoration: none;color:rgb(0, 0, 122);display:inline-block;" href="/dredger2/home">DREDGER 2<br/><img  id="img2"   class="img-responsive" /></a>
	    </span>
	    </div>
	    
	</div>
	</div>

{% endblock %}
