
{% extends "base.html" %}
{% block title %}Select{% endblock %}

{% block styles %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/default.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/component.css') }}" />
{{super()}}
	
{%endblock%}

{% block scripts %}
{{super()}}
	<script src="{{ url_for('static', filename='/js/modernizr.custom.js') }}"></script>
	<script src="{{ url_for('static', filename='/js/toucheffects.js') }}"></script>
{% endblock%}

{% block navbar %}
	 

    
    <nav class="navbar navbar-inverse navbar-fixed-top" >
      <div class="container">
      	
      	{% if current_user.is_authenticated()%}			<!--To hide navbar contents on login page-->
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	           <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>                       
	          </button>
	          
	        </div>
	        <div class="collapse navbar-collapse" id="myNavbar">

	          	<a class="navbar-brand" href="#"><img  width="20" height="20" src="{{ url_for('static', filename='favicon.ico') }}"> Dredger</a>
	            <ul class="nav navbar-nav navbar-right">
	                
	                
	                <li class="navbar-brand">Welcome Sachin!</li>
	                <li><a class="navbar-brand" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
	                
	                </li>
	            </ul>
	        </div>
        {% endif %}
      </div>
    </nav>

 
{% endblock %}

{% block page_content %}
<div class="container">
<div class="page-header">
<h2 style="color:silver;">Please select your Dredger</h2>
</div>
</div>


	

	<div class="container demo-3">
		
		<ul class="grid cs-style-4">
			<li>
				<figure>
					<div><img src="{{ url_for('static', filename='/img/dredger 1 scale.jpg') }}" ></div>
					<figcaption>
						<h3>DREDGER 1</h3>
						<span>Some Text here. .</span>
						<a href="/dredger1/home">Take a look</a>
					</figcaption>
				</figure>
				
			</li>
			<li>
				<figure>
					<div><img src="{{ url_for('static', filename='/img/dredger 2 scale.jpg') }}"></div>
					<figcaption>
						<h3>DREDGER 2</h3>
						<span>Some text here. .</span>
						<a href="/dredger2/home">Take a look</a>
					</figcaption>
				</figure>
			</li>
			
		</ul>
	</div><!-- /container -->

{% endblock %}
