
{% extends "dredger2/base.html" %}
{% block title %}Filter{% endblock %}

{% block scripts %}

 {{super()}}
 <script type="text/javascript">
		$(document).ready(function(){
			var number=10;
			var name= 'dummyNoUse';
			$.post("{{ url_for('static', filename='ajax/dredger2/fetch_from_db.php') }}",{name:name},function(data){
			$('span#time').text(data.time);
		    $('span#storage_tank_level').text(data.storage_tank_level);
		    $('span#storage_tank_cap').text(data.storage_tank_cap);
		    $('span#service_tank_level').text(data.service_tank_level);
		    $('span#service_tank_cap').text(data.service_tank_cap);
		    $('span#flowmeter_1_in').text(data.flowmeter_1_in);
		    $('span#flowmeter_1_out').text(data.flowmeter_1_out);
		    $('span#engine_1_level').text(data.flowmeter_1_in-data.flowmeter_1_out);
		    $('span#engine_1_status').text(data.engine_1_status);
		    $('span#flowmeter_2_in').text(data.flowmeter_2_in);
		    $('span#flowmeter_2_out').text(data.flowmeter_2_out);
		    $('span#engine_2_level').text(data.flowmeter_2_in-data.flowmeter_2_out);
		    $('span#engine_2_status').text(data.engine_2_status);
			
			},'json');
			function redirect(num){
				number=num;
				countdown();
			}

			function countdown(){
				
				
				setTimeout(countdown,1000);
				number--;
				$('#box').html("Redirecting in "+number+" seconds.");
				if(number<=0)
				{
					var name= 'dummyNoUse';
					$.post("{{ url_for('static', filename='ajax/dredger2/fetch_from_db.php') }}",{name:name},function(data){
					$('span#time').text(data.time);
				    $('span#storage_tank_level').text(data.storage_tank_level);
				    $('span#storage_tank_cap').text(data.storage_tank_cap);
				    $('span#service_tank_level').text(data.service_tank_level);
				    $('span#service_tank_cap').text(data.service_tank_cap);
				    $('span#flowmeter_1_in').text(data.flowmeter_1_in);
				    $('span#flowmeter_1_out').text(data.flowmeter_1_out);
				    $('span#engine_1_level').text(data.flowmeter_1_in-data.flowmeter_1_out);
				    $('span#engine_1_status').text(data.engine_1_status);
				    $('span#flowmeter_2_in').text(data.flowmeter_2_in);
				    $('span#flowmeter_2_out').text(data.flowmeter_2_out);
				    $('span#engine_2_level').text(data.flowmeter_2_in-data.flowmeter_2_out);
				    $('span#engine_2_status').text(data.engine_2_status);
					},'json');
					number=3;
				}
			}
		redirect(3);

		});
</script>

{% endblock scripts %}

{% block navbar %}
	 

    
    <nav class="navbar navbar-inverse navbar-fixed-top" >
      <div class="container">
      	
      	<div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="/select"><img src="{{ url_for('static', filename='favicon.ico') }}"> Dredger</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="dropdown">
	          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dredger
	          <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="/dredger1/home">Dredger 1</a></li>
	            <li class="active"><a href="/dredger2/home">Dredger 2</a></li>
	          </ul>
	        </li>

            <li class="active"><a href="/dredger2/home">Home</a></li>
            <li><a href="/dredger2/filter">Filter</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                
                <a class="navbar-brand" href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                
                </li>
            </ul>
        </div>
        
      </div>
    </nav>

 
{% endblock %}


{% block page_content %}

<div class="container">
 
  <h2 class="page-header" style="color:silver;">Flowchart</h2>
  <h3  style="color:silver;">Dredger 2</h3>
</div>



  	<div class="container">
	  	<div class="pull-right">
	          <h4><span class="label label-default" > <span id="time"></span> </span></h4>
	    </div>
  	</div>
  	<h1 class="visible-xs" >
  	<!--Code for extra small screen starts-->
	  	<div class="container">
		  	
			
					      
			      	<div class="row">
			      		<div class="col-xs-3 text-center col-xs-offset-3 other ">
				        	<span style="color:black;" class="btn btn-default btn-xs">
				        	<b>
				        	<span id="storage_tank_cap" style="color:rgb(184,0,0);"></span><br/>Storage Tank<br/> <span id='storage_tank_level' style="color:rgb(0, 32, 129);"></span>
				        	</b>
				        	</span> 
					    </div> 
					</div>
			      	
			      	<div class="row">
			      		<div class="col-xs-3 text-center col-xs-offset-3 other ">
				        	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>  
					    </div> 
					</div>

			      	
		       		
		       		<div class="row">
		       			
				        <div class="col-xs-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-left"></span></p>
				        </div>

				        <div class="col-xs-3">
				          	<span style="color:black;"class="btn btn-default btn-xs">
				          	<b>
				          	<span id='service_tank_cap' style="color:rgb(184,0,0);"></span><br/>
				          	Service Tank<br/>
				          	<span id='service_tank_level' style="color:rgb(0, 32, 129);"></span>
				          	</b>
				          	</span>
				        </div>

				        <div class="col-xs-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-right"></span></p>
				        </div>
				        
		       		</div>

		       		<div class="row">
		      		    			        
				        <div class="col-xs-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>
				        </div>
				        <div class="col-xs-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-up"></span></p>
				        </div>

				        <div class="col-xs-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>
				        </div>
		       		</div>
		       		
		       		<div class="row">
		       			<div class="col-xs-3 ">
				          	<span style="color:black;"class="btn btn-default btn-xs">
				          	<b>
				          	Flowmeter IN 1<br/>
				          	<span id='flowmeter_1_in' style="color:rgb(0, 32, 129);"></span>
				          	</b>
				          	</span>
				        </div>
		       			<div class="col-xs-3 col-xs-offset-3">
				          	<span style="color:black;"class="btn btn-default btn-xs">
				          	<b>
				          	Flowmeter IN 2<br/><span id='flowmeter_2_in' style="color:rgb(0, 32, 129);"></span>
				          	</b>
				          	</span>
				        </div>
		       		</div>

		       		<div class="row">
		      		    			        
				        <div class="col-xs-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>
				        </div>
				        <div class="col-xs-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-up"></span></p>
				        </div>

				        <div class="col-xs-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>
				        </div>
		       		</div>

		       		<div class="row">
		      		    			        
				        <div class="col-xs-3 text-center other ">
				          	<span style="color:black;"class="btn btn-default btn-xs">
				          	<b>
				          	<span id="engine_1_status" style="color:rgb(184,0,0);"></span><br/>
				          	Engine 1<br/>
				          	<span id="engine_1_level" style="color:rgb(0, 32, 129);"></span>
				          	</b>
				          	</span>
				        </div>
				        
				        <div class="col-xs-3 text-center col-xs-offset-3 other ">
				          	<span style="color:black;"class="btn btn-default btn-xs">
				          	<b>
				          	<span id="engine_2_status" style="color:rgb(184,0,0);"></span><br/>
				          	Engine 1<br/>
				          	<span id="engine_2_level" style="color:rgb(0, 32, 129);"></span>
				          	</b>
				          	</span>
				        </div>
		       		</div>

		       		<div class="row">
		      		    			        
				        <div class="col-xs-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>
				        </div>
				        <div class="col-xs-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-up"></span></p>
				        </div>

				        <div class="col-xs-3 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>
				        </div>
		       		</div>

		       		<div class="row">
		      		    			        
				        <div class="col-xs-3 text-center other ">
				          	<span style="color:black;"class="btn btn-default btn-xs">
				          	<b>
				          	Flowmeter Out 1<br/>
				          	<span id='flowmeter_1_out' style="color:rgb(0, 32, 129);"></span>
				          	</b>
				          	</span>
				        </div>

				        
				        <div class="col-xs-3 text-center col-xs-offset-3 other ">
				          	<span style="color:black;"class="btn btn-default btn-xs">
				          	<b>
				          	Flowmeter Out 2<br/><span id='flowmeter_2_out' style="color:rgb(0, 32, 129);"></span>
				          	</b>
				          	</span>
				        </div>
		       		</div>

		       		
		       		<div class="row">
		       			

		       			<div class="col-xs-3 text-center other">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-right"></span></p>
				        </div>
				        <div class="col-xs-3 text-center other">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-up"></span></p>
				        </div>
		       			<div class="col-xs-3 text-center other">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-left"></span></p>
				        </div>
				        
		       		</div>
			    
		
			
		</div>
  	<!--Code for extra small screen ends-->
  	</h1>

	<h1 class="hidden-xs" >
<!--Code for other screen size starts-->
	  	<div class="container">
		  	
				
					      
			      	<div class="row">
			      		<div class="col-sm-2 text-center col-sm-offset-4 other ">
			      			
				        	<span style="color:black;" class="btn btn-default btn-lg">
				        	<b>
				        	<span id="storage_tank_cap" style="color:rgb(184,0,0);"></span><br/>
				        	Storage Tank<br/> 
				        	<span id='storage_tank_level' style="color:rgb(0, 32, 129);"></span> 
				        	</b>
				        	</span> 

					    </div> 
					</div>
			      	
			      	<div class="row">
			      		<div class="col-sm-2 text-center col-sm-offset-4 other ">
				        	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>  
					    </div> 
					</div>

			      	
		       		
		       			       		
		       		
		       		<div class="row">
		       			<div class="col-sm-2 ">
				          	<span style="color:black;"class="btn btn-default btn-lg">
				          	<b>
				          	Flowmeter IN 1<br/>
				          	<span id="flowmeter_1_in" style="color:rgb(0, 32, 129);"></span>
				          	</b>
				          	</span>
				        </div>

				        <div class="col-sm-2 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-left"></span></p>
				        </div>

				        <div class="col-sm-2">
				          	<span style="color:black;"class="btn btn-default btn-lg">
				          	<b>
				          	<span id="service_tank_cap" style="color:rgb(184,0,0);"></span><br/>Service Tank<br/><span id="service_tank_level" style="color:rgb(0, 32, 129);"></span>
				          	</b>
				          	</span>
				        </div>

				        <div class="col-sm-2 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-right"></span></p>
				        </div>

		       			<div class="col-sm-2 ">
		       				<span style="color:black;"class="btn btn-default btn-lg">
		       				<b>
		       				Flowmeter IN 2<br/><span id="flowmeter_2_in" style="color:rgb(0, 32, 129);"></span>
				          	<b>
				          	</span>
				        </div>
		       		</div>

		       		<div class="row">
		      		    			        
				        <div class="col-sm-2 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>
				        </div>
				        <div class="col-sm-2 col-sm-offset-2 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-up"></span></p>
				        </div>

				        <div class="col-sm-2 col-sm-offset-2 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>
				        </div>
		       		</div>

		       		<div class="row">
		      		    			        
				        <div class="col-sm-2 text-center other ">
				        	<span style="color:black;"class="btn btn-default btn-lg">
				        	<b>
				        	<span id="engine_1_status" style="color:rgb(184,0,0) ;"></span><br/>
				        	Engine 1<br/><span id="engine_1_level" style="color:rgb(0, 32, 129);"></span>
				        	</b>
				        	</span>
				        </div>
				        
				        <div class="col-sm-2 text-center col-sm-offset-6 other ">
				          	<span style="color:black;"class="btn btn-default btn-lg">
				          	<b>
				          	<span id="engine_2_status" style="color:rgb(184,0,0) ;"></span><br/>
				          	Engine 2<br/><span id="engine_2_level" style="color:rgb(0, 32, 129);"></span>
				          	</b>
				          	</span>
				        </div>
		       		</div>

		       		<div class="row">
		      		    			        
				        <div class="col-sm-2 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>
				        </div>
				        <div class="col-sm-2 col-sm-offset-2 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-up"></span></p>
				        </div>

				        <div class="col-sm-2 col-sm-offset-2 text-center other ">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-down"></span></p>
				        </div>
		       		</div>

		       		<div class="row">
		      		    			        
				        <div class="col-sm-2 text-center other ">
				          	<span style="color:black;"class="btn btn-default btn-lg">
				          	<b>
				          	Flowmeter Out 1<br/><span id="flowmeter_1_out" style="color:rgb(0, 32, 129);"></span>
				          	</b>
				          	</span>
				        </div>

				        
				        <div class="col-sm-2 text-center col-sm-offset-6 other ">
				          	<span style="color:black;"class="btn btn-default btn-lg">
				          	<b>
				          	Flowmeter Out 2<br/><span id="flowmeter_2_out" style="color:rgb(0, 32, 129);"></span></b>
				          	</span>
				        </div>
		       		</div>

		       		
		       		<div class="row">
		       			

		       			<div class="col-sm-2 text-center other">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-right"></span></p>
				        </div>
				        <div class="col-sm-2 col-sm-offset-2 text-center other">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-up"></span></p>
				        </div>
		       			<div class="col-sm-2 col-sm-offset-2 text-center other">
				          	<p class="btn"><span style="color:white;" class="glyphicon glyphicon-arrow-left"></span></p>
				        </div>
				        
		       		</div>
			    
		
			
		</div>
		<!--Code for other screen size ends-->

	</h1>


 <!-- ###################### --> 

<!--Ends here $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
{% endblock %}
